.page {
    display: grid;  
    grid-template-areas: 
        'inner-page'
        'footer';
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

.inner-page {
    grid-area: inner-page;
    display: grid;
    grid-template-areas: 
        'header'
        'content';
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    align-items: center;
    display: flex;
    grid-area: header;
    padding: 0 1.25rem;
}

 
.content {
    grid-area: content;
}

.footer {
    background: #fdfdfd;
    color: #333333;
    font-size: .8rem;
    grid-area: footer;
    padding: 1rem;
    text-align: center;
}